@import url("./assets/colors.css");

#app {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.scene {
  position: relative;
}
